body{
    background: linear-gradient(45deg,#C1B19A, white);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Tajawal', sans-serif;

}

.modal{
    display: none;
}

.bstyle{
    border-radius: 5px;
}

.transactionBlock{
    background-color: #0C3666;
    text-decoration-color: #FFFFFF;
    height: 50px;
    border-bottom: #FF0001 2px solid;

}

.displayBlock{
    border: 1px solid black;
    background-color: #FFFFFF;

}

.listBlock{
    border: 1px solid black;
    background-color: #FFFFFF;

}

.filterForm{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 30px;
}

.filterbtn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.transaction{
    border-bottom: 1px solid black;
}

.modal-header {
    background-color: #0C3666;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    border-radius: 2px;
    background-color: darkred;
    transition: 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.mainnav {
    background-color: deeppink;
    border-bottom: 2px solid #FF0001;
    font-family: 'Tajawal', sans-serif;
}

.login {
    position: relative;
    max-width: 65%;
    margin: auto;
    border-radius: 100%;
}

.card {
    position: center;
}

.card-img-top {
    background-size: contain;
}

.image{
    height: 320px;
    width: 370px;
}

.fst-italic {
    color: #CF9D11;
}

.mb-5 {
    color: #CF9D11;
}

.blockquote-footer {
    color: #CF9D11;
}


.btn-lg {
    color: #CF9D11;
}

.btn2 {
    color: #CF9D11;
}
element.style {
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0ea0ff;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #6091ef;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 14, 160, 255;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 96, 145, 239;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Lato", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0ea0ff;
    --bs-link-hover-color: #0b80cc;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

*, *::before, *::after {
    box-sizing: border-box;
}

