<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head('Sign Up')"></head>



<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<!--<img  src="/images/budget.png" class="w-100" alt="log"/>-->
<header th:replace="partials/partials.html :: header('Sign Up and Explore')"></header>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS -->
                </div>
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Creations Inside</h5>
                    <form th:action="@{/sign-up}" th:method="POST" th:object="${user}">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputUsername" placeholder="myusername" th:field="*{username}" >
                            <label for="floatingInputUsername">Username</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputFirstName" placeholder="first_name" th:field="*{first_name}">
                            <label for="floatingInputFirstName">First Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputLastName" placeholder="last_name" th:field="*{last_name}">
                            <label for="floatingInputLastName">Last Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com" th:field="*{email}">
                            <label for="floatingInputEmail">Email address</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" th:field="*{password}">
                            <label for="floatingPassword">Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password">
                            <label for="floatingPasswordConfirm">Confirm Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input name="phoneNumber" type="text" class="form-control" id="floatingInputPhoneNumber" placeholder="phone_number">
                            <label for="floatingInputPhoneNumber">Phone Number</label>
                        </div>

                        <div class="d-grid mb-2">
                            <button class="btn btn-dark btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Register</button>
                        </div>

                        <a class="d-block text-center mt-2 small" href="/login">Have an account? Sign In</a>

                        <hr class="my-4">

                        <div class="d-grid mb-2">

                            <!--                            figure out google easy sign up at later date-->
                            <!--                            <button class="btn btn-lg btn-google btn-login fw-bold text-uppercase" type="submit">-->
                            <!--                                <i class="fab fa-google me-2"></i> Sign up with Google-->
                            <!--                            </button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="partials/partials.html :: scripts"></th:block>
</body>
</html>
